<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>daw.clientejuegos.controlador.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Juego</servlet-name>
        <servlet-class>daw.clientejuegos.controlador.Juego</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registro</servlet-name>
        <servlet-class>daw.clientejuegos.controlador.Registro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PerfilEdicion</servlet-name>
        <servlet-class>daw.clientejuegos.controlador.PerfilEdicion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Juego</servlet-name>
        <url-pattern>/Juego</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registro</servlet-name>
        <url-pattern>/Registro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PerfilEdicion</servlet-name>
        <url-pattern>/PerfilEdicion</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
